<% if can? :manage, Student %>
<h3>Import Students into <%= current_term.name %> Term</h3>
<%= form_tag import_students_path, multipart: true do %>
	
	<%= file_field_tag :file %>
	<%= submit_tag "Import", :class => 'btn btn-primary' %>
<% end %>
<% end %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&#215;</button>
  Review each student's <span class="label label-info">Initial Status</span>. Clicking the <span class="label label-info">Approve</span> 
	link will make the Final Status the same as the Initial Status. If you'd like to select a different Final Status, click the 
	<span class="label label-info">Edit</span> link, select the status you want from the drop down list, then click the 
	<span class="label label-info">Update</span> button. Repeat this procedure for each student in the list. Use the
	<span class="label label-info">Search</span> function to limit the list or find an individual student if needed.
</div>


<div class="well">
<%= render :super %>
</div>

<% if can? :manage, Student %>
<%= link_to "Remove All Students", remove_all_students_path, :data => { :confirm => "Are you sure?" }, :method => :get, :class => "btn btn-danger" %>
<% end %>