<% if can? :manage, Student %>
<h3>Import Students into <%= current_term.name %> Term</h3>
<%= form_tag import_students_path, multipart: true do %>
	
	<%= file_field_tag :file %>
	<%= submit_tag "Import", :class => 'btn btn-primary' %>
<% end %>
<% end %>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&#215;</button>
  Review each student's <strong>Initial Status</strong>. Clicking the <strong>Approve</strong> link will make the <strong>Final Status</strong> 
	the same as the <strong>Initial Status</strong>. If you'd like to select a different <strong>Final Status</strong>, click the <strong>Edit</strong> 
	link, select the status you want from the drop down list, then click the <strong>Update</strong> button. Repeat this procedure for each student
	in the list.
</div>


<div class="well">
<%= render :super %>
</div>

<% if can? :manage, Student %>
<%= link_to "Remove All Students", remove_all_students_path, :data => { :confirm => "Are you sure?" }, :method => :get, :class => "btn btn-danger" %>
<% end %>