<h3>Terms</h3>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Active?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @terms.each do |term| %>
    <tr>
      <td><%= link_to term.code, edit_term_path(term) %></td>
      <td><%= term.name %></td>
      <td><%= term.active %></td>
      <td><%= link_to("Delete term", term_path(term), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless term.active? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to("New term", new_term_path, :class => 'btn btn-mini') %>
