<div class="well">
	<div class="page-header">
		<h3><%= @term.name %> TAMUG Scholastic Deficiency by Major</h3>
	</div>
	<table class="table table-condensed">
	  <thead>
	    <tr>
	      <th>Major</th>
	      <th>Suspensions</th>
				<th>Probations</th>
	      <th>Total Deficiency</th>
				<th>Appeals</th>
				<th>Appeals Granted</th>
				<th>Appeals Denied</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @term.majors.each do |major| %>
	    <tr>
	      <td><%= major %></td>
	      <td><%= @term.suspensions_by_major(major) %></td>
	      <td><%= @term.probations_by_major(major) %></td>
				<td><%= @term.total_deficiency_by_major(major) %></td>
				<td><%= @term.appeals_by_major(major) %></td>
				<td><%= @term.appeals_granted_by_major(major) %></td>
				<td><%= @term.appeals_denied_by_major(major) %></td>
	    </tr>
	  <% end %>
		  <tr class="info">
		    <th>Total</td>
		    <th><%= @term.suspensions %></td>
		    <th><%= @term.probations %></td>
				<th><%= @term.total_deficiency %></td>
				<th><%= @term.appeals %></td>
				<th><%= @term.appeals_granted %></td>
				<th><%= @term.appeals_denied %></td>
		  </tr>
	  </tbody>
	</table>
</div>
